<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body style="height:auto" class="mat-typography mat-app-background">
  <form [formGroup]="simpleForm" style="height:100%;width: 100%;">
    <div class="wrapper">
    <title>Simple Form</title>
    <h1>Simple Form</h1>
    <table>
      <tr>
        <td>
          <input class="inputSytle" type="text" placeholder="First Name" formControlName = "firstName">
        </td>
        <td>
          <input class="inputSytle" type="text" placeholder="Last Name" formControlName = "lastName">
        </td>
      </tr>
     
      <tr>
        <textarea class="textArea"  formControlName = "description" placeholder="Small Description"></textarea>
      </tr>
      <tr>
        <div>
          <input class="textArea" id="emailAddress" type="email" placeholder="Email Address" formControlName = "emailAddress" style="height:37px;"
          [ngStyle]="{'border-color': borderbordercolor}">
          <span class="text-warn" *ngIf="simpleForm.controls['emailAddress'].errors?.['pattern']">
          Please enter a valid email
        </span></div>
      </tr>
      <tr>
        <div *ngIf="isAddPhoto" style="width:100%">
          <img class="attachedImage" *ngFor="let img of image" [src]="img">
        </div>
      </tr>
    </table>
  
    <div class="buttonDiv">
      <input class="file-input" type="file" accept="image/*"  (change)="onFileSelected($event)" #file>
      
    <button class="addImage"(click)="file.click()">+ ADD IMAGE</button>
    <button [disabled]="!issimpleFormValid" class="save" (click)="OnSave()">SAVE</button>
    </div>
   
  </div>
  </form>
</body>